<div class="detail-container" *ngIf="product">
  <div class="detail-card">
    <img [src]="product.imageUrl" alt="{{ product.name }}" class="detail-image" />

    <div class="detail-info">
      <h2>{{ product.name }}</h2>
      <p class="detail-price">₹{{ product.price }}</p>
      <p class="detail-desc">{{ product.description }}</p>
      <div class="quantity-wrapper">
      <div class="quantity-controls" *ngIf="product.stock > 0; else outOfStockBlock">
        <ng-container *ngIf="product.quantity === 0 || !product.quantity; else quantitySet">
          <button class="add-btn" (click)="updateQuantity(1)">ADD</button>
        </ng-container>

        <ng-template #quantitySet>
          <div class="qty-blinkit-box">
            <button (click)="updateQuantity(-1)">−</button>
            <span>{{ product.quantity }}</span>
            <button (click)="updateQuantity(1)">+</button>
          </div>
        </ng-template>
      </div>
       </div>

      <ng-template #outOfStockBlock>
        <button class="add-btn disabled" disabled>Out of Stock</button>
      </ng-template>

      <div *ngIf="limitReached" class="limit-msg">
        Sorry, you can't add more of this item.
      </div>

      <button class="back-btn" (click)="goBack()">⬅ Back to Products</button>
    </div>
  </div>
</div>
